section#promo.promo.section.offset-header
  .container.text-center
    h2.title.animated
      span.highlight YAAP
    p.intro.animated.sub(style="text-transform: uppercase; margin-bottom: 20px;") a tiny JavaScript framework
      br
      | that can help you to...
    p.intro.animated.list(style="visibility: hidden; font-size: 1.25em; margin-bottom: 16px;") Send statistics about your website
    p.intro.animated.list(style="visibility: hidden; font-size: 1.25em; margin-bottom: 16px;") Monitor user interactions
    p.intro.animated.list(style="visibility: hidden; font-size: 1.25em; margin-bottom: 32px;") Build your own analytics solution
    .btns
      a.btn.btn-cta-secondary.scrollto(href='#get-started') Get Started
      |  
      a.btn.btn-cta-primary(href='#') Examples
    ul.meta.list-inline
      li
        a(href='https://github.com/Sfeir/YAAP', target='_blank') View on GitHub
