
section#what-is-yaap.about.section
  .container
    h2.title.text-center What is YAAP ?
    p.intro.text-center
      | Yaap is a featherweight, Javascript framework that let you build and organize a complete analytics solution.
      | From a a basic 
      a.scrollto(href='#get-started') pageview system 
      | to a complete 
      a.scrollto(href='#trackers') user interaction tracking
      | , YAAP is a smart choice if you want to keep the control over your data, and treat them the way you want.
    .row.text-center
      .item.col-md-4.col-sm-6.col-xs-12
        .content
          h3.sub-title
            i.fa.fa-bolt
            | Lightweight 
          p.desc With a small footprint - 5 kb - <b>YAAP</b> will easily slip in every project, and behave well with the tools you already use !
          p.text-center
            a.btn.btn-cta-primary(href='#') Core features
      .item.col-md-4.col-sm-6.col-xs-12
        .content
          h3.sub-title
            i.fa.fa-line-chart
            | Modular & Structured
          p.desc Based on simple principles, <b>YAAP</b> let you cut your system into pieces to gain in maintanability and possibilityies of structuring your data.
          p.text-center
            a.btn.btn-cta-primary(href='#') YAAP Trackers
      .item.col-md-4.col-sm-6.col-xs-12
        .content
          h3.sub-title
            i.fa.fa-hand-pointer-o
            | DOM Ready
          p.desc Without any 3rd party component, <b>YAAP</b> can listen to DOM events and trigger at the right moment, with a live-completion of your data !
          p.text-center
            a.btn.btn-cta-primary(href='#') YAAP Events
      .clearfix.visible-md