header#header.header
  .container
    h1.logo.pull-left
      a.scrollto(href='#promo')
        span.logo-title YAAP
    nav#main-nav.main-nav.navbar-right(role='navigation')
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar-collapse')
          span.sr-only Toggle navigation
          span.icon-bar
          span.icon-bar
          span.icon-bar
      #navbar-collapse.navbar-collapse.collapse
        ul.nav.navbar-nav
          li.active.nav-item.sr-only
            a.scrollto(href='#promo') Home
          li.nav-item
            a.scrollto(href='#what-is-yaap') What is YAAP ?
          li.nav-item
            a.scrollto(href='#get-started') Get Started
          li.nav-item
            a.scrollto(href='#docs') Documentation