aside.menu
    p.is-strong.menu-label Présentation
    ul.menu-list
        li
            a.menu-list Installation
            a.menu-list Premiers pas avec Yaap
            a.menu-list Les Trackers
            a.menu-list Les Évenements
    br
    p.menu-label
        |Yaap 
        span.is-strong Tracker
    ul.menu-list
        li
            a.menu-list Documentation
            a.menu-list Utilisation
    br
    p.menu-label
        |Yaap 
        span.is-strong Event
    ul.menu-list
        li
            a.menu-list Documentation
            a.menu-list Utilisation
    br
    p.is-strong.menu-label Examples
    ul.menu-list
        li
            ul
                p.menu-list.menu-label Web Tracking
                li
                    a Informations sur vos visiteur
                    a Intéractions utilisateurs
                    a Reporting d'erreur
            ul
                p.menu-list.menu-label Internet Of Things
                li
                    a Délancher des evenements
                    a Log Reporting